@media(min-width: 425px) {
    .logo h2 {
        font-size: 15px;
        display: unset;
    }

    header {
        justify-content: space-between;
    }

    .social {
        justify-content: center;
    }

    .contact-form-container {
        justify-content: center;
        /* margin-left: 4rem; */
        max-width: 600px;
    }
}

@media(min-width: 576px) {
    .logo h2 {
        font-size: 20px;
        display: unset;
    }

    .about-text p {
        text-align: justify;
        line-height: 1.8rem;
        font-size: 20px;
    }

    .about-text h2 {
        font-size: 30px;
    }

    .about-text h5 {
        font-size: 22px;
    }

    .social {
        justify-content: center;
    }

    .contact-form-container {
        justify-content: center;
        align-self: center;
        /* margin-left: 4rem; */
        max-width: 700px;
        /* padding: unset; */
    }
}

@media(min-width:768px) {
    .hero {
        flex-direction: unset;
    }

    .logo h2 {
        font-size: 22px;
        display: unset;
    }

    .about-container {
        flex-direction: row-reverse;
        gap: 2rem;
    }

    .about-text p {
        text-align: justify;
        line-height: 1.8rem;
        font-size: 23px;
    }

    .about-text h2 {
        font-size: 40px;
    }

    .about-text h5 {
        font-size: 30px;
    }

    .projects-container {
        flex-direction: row;
        padding: 2rem;
        justify-content: center;
        gap: 3rem;
    }

    .cards-wrap {
        margin: 2rem 1rem;
        display: flex;
        flex-direction: row;
    }

    .cards {
        width: 300px;
        margin: 2rem;
    }

    #contact {
        margin: 0px 5rem;
    }
}

/* ################# Large Screen devices ################### */
@media(min-width: 992px) {
    .contact-form-container {
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 1200px;
        width: 100%;
    }

    .about-text {
        padding: 3rem;
    }

    .about-text p {
        text-align: justify;
        line-height: 2rem;
        font-size: 20px;
    }

    .about-text h2 {
        font-size: 40px;
    }

    .about-text h5 {
        font-size: 30px;
    }

}

/* ############### X-Large Devices ###################### */
@media(min-width:1200px) {
    .hero-content-wrapper {
        padding: 4rem;
    }

    nav a {
        margin: 0px 20px;
        font-size: 1rem;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .about-text {
        padding: 5rem;
        margin-top: 3rem;
    }

    .about-text p {
        text-align: justify;
        line-height: 2.5rem;
        font-size: 25px;
    }

    .about-text h2 {
        font-size: 45px;
    }

    .about-text h5 {
        font-size: 35px;
    }


}


/* ################# XX-Large Screen devices #################### */
@media(min-width: 1400px) {
    header {
        padding: 28px;
    }

    nav a {
        margin: 0px 20px;
        font-size: 1.5rem;
    }

    .logo h2 {
        font-size: 1.5rem;
    }

    .hero-content-wrapper {
        padding: 4rem;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .projects-container {
        flex-direction: row;
        padding: 2rem;
        justify-content: center;
        gap: 8rem;
    }

    .contact-form-container {
        background-color: #FFFFFF;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 2000px;
        width: 100%;
    }

    .about-text {
        padding: 5rem;
    }

    .about-text p {
        text-align: justify;
        line-height: 3rem;
        font-size: 25px;
    }

    .about-text h2 {
        font-size: 50px;
    }

    .about-text h5 {
        font-size: 40px;
    }

}